/.venv
/snomed_data
/testing_embeddings.ipynb
/__pycache__
SNOMEDEmbeddingsTest.code-workspace
dev_concepts.txt
test_concepts.txt
train_concepts.txt
/mimic_notes
corpus_*
train_ft.py
/embedding_models/__pycache__
/preprocessing/__pycache__
pizza.ttl
config.cfg
/datasets/datasets*
/models